<%= bootstrap_form_for(@user, :html => { :multipart => true }) do |f| %>
  <div class="sign-up-in">
    <p>
      <%= f.alert_message "Please fix the errors below.", class: "errormsg" %>
    </p>
    <p>
      <%= f.text_field :first_name, label: "First Name" %>
    </p>
    <p>
      <%= f.text_field :last_name, label: "Last Name" %>
    </p>
    <p>
      <%= f.email_field :email, placeholder: 'email@example.com', class: "example" %>
    </p>
    <p>
      <%= f.password_field :password, placeholder: '********' %>
    </p>
    <p>
      <%= f.password_field :password_confirmation, label: "Password Confirmation" %>
    </p>
  </div> 
  <div class="center">
    <p>
      <%= f.submit "Sign Up", class: "btn btn-primary" %>
      <%= link_to 'Cancel', welcome_index_path, class: 'btn btn-warning' %>
    </p>
  </div>
<% end %>