<!DOCTYPE html>
<html>
<head>
  <title>WeRead</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<!--[if lt IE 9]>
	  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
	  </script>
	<![endif]-->
</head>

<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container dropdown">
    <%= link_to "WeRead", welcome_index_path, id: 'logo' %>
    <div class="navbar-text pull-right">
      <% if logged_in? %>
        <div class="dropdown pull-right">
          Signed in as <span id="user" class="dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><%= current_user.email %>
          <span class="caret"></span></span>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Account</a></li>
            <li role="presentation"><%= link_to "Sign Out", logout_path %></li>
          </ul>
        </div>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-sm btn-success" %>
        <%= link_to "Sign Up", new_user_path, class: "btn btn-sm btn-primary" %>
      <% end %>
    </div>
  </div>
</header>

<div class="container">
  <%= yield %>
</div>

<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <p class="navbar-text pull-right">&copy; 2015 WeRead - Powered by <a href="https://engineering.purdue.edu/HIVELab/", target='_blank'>HIVE Lab</a>, <a href="http://www.purdue.edu", target='_blank'>Purdue University</a>.</p>
  </div>
</footer>


<br>
<br>
<%= debug(params) if Rails.env.development? %>

</body>
</html>
